[alias]
    cmp = "!f() { git add -A && git commit -m \"$@\" && git push; }; f"
	newbranch = "!f() { git switch -c $1 && git push -u origin $1; }; f"
	aliases = "config --get-regexp "
[user]
	email = 50270256+Alexdoesvoices@users.noreply.github.com
	name = Alexander Robinson
[credential "helperselector"]
	selected = manager
[init]
	defaultBranch = master

